<br/><br/><br/><br/>
<div class="update-bill-container">
    <h2>Update Payment</h2>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Payment ID:</label>
            <input id="id" formControlName="id" type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="paymentDate">Payment Date:</label>
            <input id="paymentDate" formControlName="paymentDate" type="date" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="amount">Amount:</label>
            <input id="amount" formControlName="amount" type="number" step="0.01" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="paymentForm.invalid">Update</button>
    </form>
</div>
<br/><br/><br/><br/>