<br/><br/><br/><br/>
<div class="contact py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <h2 class="title text-center mb-lg-5 mb-sm-4 mb-3">
            <span>C</span>ontact
            <span>U</span>s
        </h2>
        <br>
        <div class="row contact-grids mb-5">
            <div class="col-sm-4 contact-grid">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa fa-map-marker-alt rounded-circle"></i>
                    </div>
                    <h3 class="font-weight-bold mt-3 mb-3">Address:</h3>
                    <p>
                        <a href="https://maps.app.goo.gl/6392xHU9GxFgpkyA7" class="contact-link">
                            N.S.K. Salai, Arcot Rd, Vadapalani, Chennai, Tamil Nadu 600026
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 contact-grid">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa fa-phone rounded-circle"></i>
                    </div>
                    <h3 class="font-weight-bold mt-3 mb-3">Call Us:</h3>
                    <p>
                        <a href="tel:+919876543210" class="contact-link">+91 9876543210</a>
                    </p>
                    <p>
                        <a href="tel:+911234567890" class="contact-link">+91 1234567890</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 contact-grid">
                <div class="contact-grid1 text-center">
                    <div class="con-ic">
                        <i class="fa fa-envelope-open rounded-circle"></i>
                    </div>
                    <h3 class="font-weight-bold mt-3 mb-3">Email:</h3>
                    <p>
                        <a href="mailto:surendarsenthilvelan@gmail.com" class="contact-link">Having Queries?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/><br/>