<section class="signup-section">
    <div class="signup-container">
        <div class="signup-card">
            <div class="signup-left">
                <img
                        src="https://cache.marriott.com/content/dam/marriott-renditions/AUHDM/auhdm-cuisine-3983-hor-wide.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1336px:*"
                        class="signup-image"
                        alt="Restaurant"
                />
            </div>
            <div class="signup-right">
                <h1 class="signup-title">Create Account</h1>
                <p class="signup-subtitle">Fill in the details below to sign up.</p>

                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" id="firstName" formControlName="firstName" class="form-control"
                               placeholder="First Name">
                        <div class="error"
                             *ngIf="userForm.get('firstName')?.invalid && (userForm.get('firstName')?.touched || userForm.get('firstName')?.dirty)">
                            First Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" id="lastName" formControlName="lastName" class="form-control"
                               placeholder="Last Name">
                        <div class="error"
                             *ngIf="userForm.get('lastName')?.invalid && (userForm.get('lastName')?.touched || userForm.get('lastName')?.dirty)">
                            Last Name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth:</label>
                        <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth">
                        <div *ngIf="userForm.get('dateOfBirth')?.invalid && (userForm.get('dateOfBirth')?.dirty || userForm.get('dateOfBirth')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('dateOfBirth')?.errors?.['required']">
                                Date of birth is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                               placeholder="Enter Your 10 Digit Number">
                        <div *ngIf="userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.dirty || userForm.get('phoneNumber')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('phoneNumber')?.errors?.['required']">
                                Phone number is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" id="address" formControlName="address"
                               placeholder="House/ Flat No / Street Name ">
                        <div *ngIf="userForm.get('address')?.invalid && (userForm.get('address')?.dirty || userForm.get('address')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('address')?.errors?.['required']">
                                Address is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="district">District:</label>
                        <input type="text" class="form-control" id="district" formControlName="district"
                               placeholder="Enter District">
                        <div *ngIf="userForm.get('district')?.invalid && (userForm.get('district')?.dirty || userForm.get('district')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('district')?.errors?.['required']">
                                District is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state">State:</label>
                        <input type="text" class="form-control" id="state" formControlName="state"
                               placeholder="Enter State">
                        <div *ngIf="userForm.get('state')?.invalid && (userForm.get('state')?.dirty || userForm.get('state')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('state')?.errors?.['required']">
                                State is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipCode">Zip Code:</label>
                        <input type="text" class="form-control" id="zipCode" formControlName="zipCode"
                               placeholder="">
                        <div *ngIf="userForm.get('zipCode')?.invalid && (userForm.get('zipCode')?.dirty || userForm.get('zipCode')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('zipCode')?.errors?.['required']">
                                Zip code is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="emailId" class="form-label">Email Address</label>
                        <input type="email" id="emailId" formControlName="emailId" class="form-control"
                               placeholder="Your Email Address">
                        <div class="error"
                             *ngIf="userForm.get('emailId')?.invalid && (userForm.get('emailId')?.touched || userForm.get('emailId')?.dirty)">
                            <div *ngIf="userForm.get('emailId')?.errors?.['required']">Email is required.</div>
                            <div *ngIf="userForm.get('emailId')?.errors?.['email']">Invalid email format.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select class="form-control" id="gender" formControlName="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Others</option>
                        </select>
                        <div *ngIf="userForm.get('gender')?.invalid && (userForm.get('gender')?.dirty || userForm.get('gender')?.touched)">
                            <div class="alert alert-danger" *ngIf="userForm.get('gender')?.errors?.['required']">
                                Gender is required.
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" formControlName="password" class="form-control"
                               placeholder="Your Password">
                        <div class="error"
                             *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.touched || userForm.get('password')?.dirty)">
                            Password is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role" class="form-label">Role</label>
                        <select id="role" formControlName="role" class="form-control">
                            <option *ngFor="let role of roles" [value]="role.value">{{ role.viewValue }}</option>
                        </select>
                        <div class="error"
                             *ngIf="userForm.get('role')?.invalid && (userForm.get('role')?.touched || userForm.get('role')?.dirty)">
                            Role is required.
                        </div>
                    </div>

                    <button type="submit" class="signup-btn" [disabled]="!userForm.valid">
                        Signup
                    </button>

                    <div class="signup-links">
                        <p class="existing-user">Already have an account? <a (click)="routeToLogin()">Sign In</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>