<br/><br/><br/><br/>
<div class="container">
    <h2>Create New Table </h2>

    <!-- Error and Success Messages -->
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <form (ngSubmit)="createTable()">
        <div class="form-group">
            <label for="tableNumber">Table Number</label>
            <input type="number" id="tableNumber" [(ngModel)]="table.number" name="tableNumber" class="form-control"
                   placeholder="Enter Table Number" required/>
        </div>

        <div class="form-group">
            <label for="tableSeats">Table Seats </label>
            <input type="number" id="tableSeats" [(ngModel)]="table.seats" name="tableSeats"
                   class="form-control"
                   placeholder="Enter Table Seats " required/>
        </div>

        <div class="form-group">
            <label for="restaurantId">Restaurant</label>
            <select id="restaurantId" [(ngModel)]="selectedRestaurantId" name="restaurantId" class="form-control"
                    required>
                <option *ngFor="let restaurant of restaurants"
                        [value]="restaurant.userId">{{ restaurant.firstName }} {{ restaurant.lastName }}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loading">Create Table</button>
    </form>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="loading-spinner">
        <div class="spinner"></div>
        <p>Creating table...</p>
    </div>
</div>
<br/><br/><br/><br/>