<br/><br/><br/><br/>
<div class="create-delivery-task-container">
    <h2>Create Delivery Task</h2>
    <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="deliveryTime">Delivery Time:</label>
            <input id="deliveryTime" formControlName="deliveryTime" type="datetime-local" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="street">Street:</label>
            <input id="street" formControlName="street" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="city">City:</label>
            <input id="city" formControlName="city" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="state">State:</label>
            <input id="state" formControlName="state" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="postalCode">Postal Code:</label>
            <input id="postalCode" formControlName="postalCode" type="text" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="status">Status:</label>
            <input id="status" formControlName="status" type="text" class="form-control"/>
        </div>

        <!-- Updated Order ID Dropdown -->
        <div class="form-group">
            <label for="orderId">Order :</label>
            <select id="orderId" formControlName="orderId" class="form-control">
                <option *ngFor="let order of orders" [value]="order.id">{{ order.orderDate }}</option>
            </select>
        </div>

        <!-- Updated Delivery Partner ID Dropdown -->
        <div class="form-group">
            <label for="deliveryPartnerId">Delivery Partner Name:</label>
            <select id="deliveryPartnerId" formControlName="deliveryPartnerId" class="form-control">
                <option *ngFor="let partner of deliveryPartners" [value]="partner.userId">{{ partner.firstName }}
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="deliveryForm.invalid">Create Delivery Task</button>
    </form>
</div>
<br/><br/><br/><br/>