<footer class="footer">
    <div class="footer-container">
        <!-- Contact Information -->
        <div class="footer-column">
            <h4>Contact Us</h4>
            <ul>
                <li><i class="fas fa-phone"></i><a href="tel:+919876543210">+919876543210</a></li>
                <li><i class="fas fa-envelope"></i><a href="mailto:info@restaurant.com">Mail Us !</a></li>
                <li><i class="fas fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/6392xHU9GxFgpkyA7">N.S.K.
                    Salai, Arcot Rd, Vadapalani, Chennai, Tamil Nadu 600026</a></li>
            </ul>
        </div>

        <!-- Social Media Links -->
        <div class="footer-column">
            <h4>Follow Us</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer>
